<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="CFG_DATA_ENTRIES">
<config key="cfg_column_0">
<entry key="array-size" type="xint" value="7"/>
<entry key="0" type="xstring" value="Item"/>
<entry key="1" type="xstring" value="Item0"/>
<entry key="2" type="xstring" value="Item1"/>
<entry key="3" type="xstring" value="Item2"/>
<entry key="4" type="xstring" value="Item3"/>
<entry key="5" type="xstring" value="Item4"/>
<entry key="6" type="xstring" value="Item5"/>
</config>
<config key="cfg_column_1">
<entry key="array-size" type="xint" value="7"/>
<entry key="0" type="xdouble" value="1.0"/>
<entry key="1" type="xdouble" value="1.0"/>
<entry key="2" type="xdouble" value="1.0"/>
<entry key="3" type="xdouble" value="1.0"/>
<entry key="4" type="xdouble" value="1.0"/>
<entry key="5" type="xdouble" value="1.0"/>
<entry key="6" type="xdouble" value="1.0"/>
</config>
</config>
<config key="cfg_cat_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_cat" type="xstring" value="new cat"/>
<config key="cfg_seed_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_long_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_seed" type="xlong" value="1385305255"/>
<entry key="cfg_seed_BOOL" type="xboolean" value="true"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.datageneration.randomassigne.RandomAssignerNodeFactory"/>
<entry key="node-name" type="xstring" value="Random Label Assigner"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Data Generation"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.datageneration"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.4.0.v201702101156"/>
<entry key="node-feature-name" type="xstring" value="KNIME Data Generation"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.datageneration.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.4.0.v201702101156"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Random Label Assigner"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
